@import '../../assets/styles/variables';

.nap-selection-page {
    &-comment {
      margin-top: 10px !important;
      background-color: #fff;
      color: #000000de;
      padding: 10px;
      border-radius: 4px;
      font-size: 14px !important;
      box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f;
    }
    .nap-selection-top-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .leader-board {
        &__place {
          text-align: center;
          padding: 4px 16px;
          min-width: 50px;
          margin-left: 0;
          float: none;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.32px;
          font-family: "lato", sans-serif;
          border-radius: 20px;
          white-space: nowrap;
          vertical-align: baseline;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          &--first {
            background-color: $first-place-color;
          }
      
          &--second {
            background-color: $second-place-color;
          }
      
          &--third {
            background-color: $third-place-color;
          }
        }
        &__name {
          color: $color-primary;
          white-space: nowrap;
          text-decoration: none;
          font-weight: 500!important;
        }
        &__twitter-handle {
          color: $color-primary;
        }
        &__pl {
          svg {
            margin-left: 5px;
            cursor: pointer;
          }
        }
        &__times {
          color: #A4AFB7;
          font-weight: normal
        }
        &__pltoday {
          color: #A4AFB7;
          font-weight: normal
        }
        &-header-right-section {
          display: flex;
          align-items: center;
          padding-top: 12px;
        }
        &-table-section {
          padding: 15px;
          padding-top: 5px;
          background: #fff;
          border-radius: 2px;
          margin-bottom: 30px;
          &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            border-bottom: 1px solid #e2e2e3;
            padding: 15px 0;
            &-title {
              font-family: "Lato", sans-serif;
              font-weight: 700;
              letter-spacing: 0.27px;
              font-size: 16px;
              color: #001737;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              &-heading {
                padding-right: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
              }
              &-subheading {
                font-size: 14px;
                color: #A4AFB7;
                padding-top: 2px;
                padding-bottom: 2px;
              }
            }
            &-last-updated {
              overflow: hidden;
              margin-left: 10px;
              p {
                font-size: 15px;
              }
            }
          }
        }
        table {
          th {
            font-weight: 500 !important;
            letter-spacing: 0.26px;
            font-family: "Lato",sans-serif;
            font-size: 15px !important;
            line-height: 19px;
            white-space: nowrap;
            &:first-child {
              border-radius: 4px 0 0 0;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
            }
          }
          td {
            font-size: 14px !important;
            line-height: 19px;
            letter-spacing: 0.32px;
            font-family: "Lato",sans-serif;
            font-weight: bold;
            padding: 10px
          }
        }
        #chartjs-tooltip {
          table {
            td {
              font-size: 12px !important;
              line-height: 1;
              padding: 0px
            }
          }
        }
        .negative-values {
          color: red
        }
        .positive-values {
          color: green
        }
        span.bold-data {
          font-weight: bold;
          white-space: nowrap;
        }
    }
}
  